footer {
  padding-block: 5rem;
  margin-top:calc(140px / 2);
  background-color: $bgPlan;
  position: relative;
  @include breakpoints(medium_screen){
    margin-top:calc(200px / 2);
  }
  @include breakpoints(small_screen){
    margin-top:calc(300px / 2);
  }
  .container {
    padding-top: 9rem;
    .circle-footer{
      position: absolute;
      top:150px;
      right: 0;
      width: 7%;
      opacity: .1;
    }
    .circle-footer2{
      position: absolute;
      top:250px;
      right: 0;
      width: 7%;
      opacity: .1;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      @include breakpoints(small_screen){
        flex-direction: column;
      }
      .col {
        margin:2rem;
        @include breakpoints(medium_screen){
          width: calc(100% / 3);
        }
        p{
          margin-top: 1rem;
          color: $footer;
          width: 60%;
          line-height: 1.5rem;
        }
        h3 {
          margin-bottom: 1.5rem;
        }
        .content {
          ul {
            li {
                display: block;
                margin-bottom: 1rem;
                a{
                    color: $footer;
                &:hover{
                  border-bottom: 2px solid $maincolor;
                }
            } 
                  
            }
          }
        }
        .icons{
          ul{
            display: flex;
            li{
              &:not(:last-child){
                margin-right: 1rem;
              }
              &:hover{
                i{
                  transition: background-color .3s ease-in;
                  background-color: $maincolor;
                  color: $whiteText;
                  box-shadow: $hovServShadow;
                }
              }
              i{
                color: #868d94;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 38px;
                text-align: center;
                border: 1px solid #c7ced4;
                border-radius: 50%;
              }
            }
          }
          
        }
      }
    }
  }
}
